@charset "UTF-8";

:lang(en) {
    font-family: 'LINE Seed JP', sans-serif;
}

body {
    width: 100%;
    position: relative;
    background-color: #fafafa;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

.col {
    padding: 0;
}


@media (max-width: 999.98px) {
.container-fluid {
        width: 100% ;
        margin: auto;
        padding: 0;
    }
	.navbar {
        width: 100% ;
	}
.row {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}
    .main-img {
    top: 58%;
    left: 50%;
    }
}

@media (min-width: 1000px) {
    .container-fluid {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
	}
	.navbar {
        max-width: 1000px;
        margin: 0 auto;
	}
    .row {
        margin: 0 auto;
        padding: 0px 0px 0px 0px;
    }
    .main-img {
    top: 55%;
    left: 65%;
    }
}

.main-container {
    min-height: 100vh;
    padding: 80px 0px 0px 0px;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #E7E7E7;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeOut 1.5s 2.5s forwards;
}
@keyframes fadeOut {
    0% {
    opacity: 1;
    }

    100% {
    opacity: 0;
    visibility: hidden;
    }
}

.loading-logo {
    width: 200px;
    height: 200px;
    opacity: 0;
    animation: logo_fade 2s 0.5s forwards;
    color: #000000;
}
@keyframes logo_fade {
    0% {
    opacity: 0;
    transform: translateY(20px);
	transform:rotate(120deg);
}

    60% {
    opacity: 0.1;
    transform: translateY(0);
	transform:rotate(0deg);
}

    100% {
    opacity: 0;
}
}

.navbar {
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 997;
	padding: 25px 20px 15px 20px;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.toplogo {
    width: 60px;
    height: 60px;
    color: #4c4c4c;
}

.sitetitle {
    font-family: 'LINE Seed JP', sans-serif;
    font-size: 25px;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 10px;
}

.sitetitle_s {
    font-family: 'LINE Seed JP', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    vertical-align: baseline;
    color: #4c4c4c;
    margin-left: 10px;
}

.catch-copy {
    font-family: 'LINE Seed JP', sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 40px;
    position: absolute;
    top: 70%;
    left: 5%;
    transform: translateY(-50%);
    color: #ffffff;
}

.catch-copy_s {
    font-family: 'LINE Seed JP', sans-serif;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 0%;
    letter-spacing: 2px;
    color: #ffffff;
}

.blur-text {
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.top-main {
    position: relative;
    margin: 30px 30px 0px 30px;
}

.classroom {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    clip-path: ellipse(75% 60% at 50% 40%);
}

.main-img {
    position: absolute;
    height: auto;
    width: 55%;
    transform: translateX(-50%) rotate(5deg);
    animation: float 5s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
    50% {
        transform: translate(-50%, -60%) rotate(-5deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
}

a:link {
    text-decoration: none;
    color: #4c4c4c;
}

a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.hover-opacity {
    transition-property: opacity;
    transition-duration: 0.5s;
}

.section-title {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #cb6a7a;
}

.section-lead {
    text-align: center;
    line-height: 40px;
    color: #4c4c4c;

}

.section-lead_s {
    font-size: 0.8rem;
    text-align: center;
    color: #7a7a7a;
}

.section-bg {
    margin: -20px 0px 50px 0px;
    background-color: #f6f0f1;
}

.section-wave {
    bottom: 50%;
    left: 0;
    width: 100%;
    height: auto;
}

.section-wave svg {
    display: block;
    width: 100%;
    height: auto;
}

.sub-title {
    font-family: 'LINE Seed JP', sans-serif;
    font-weight: 400;
    font-size: 1.35rem;
}

.card-title {
    font-size: 1.25rem;
}

.card {
    margin: 0px;
    padding: 0px;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center 30%;
}

.break-tx {
    display: inline-block;
    color: #b1b1b1;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  cursor: pointer;
  background: #f5f5f5;
}

/* ソート状態の見た目 */
th[aria-sort="ascending"]::after {
  content: " ▲";
}
th[aria-sort="descending"]::after {
  content: " ▼";
}
